/* =========================
   1. Global / Base Styles
   ========================= */


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: #ffffff;
    color: #000;
}





/* =========================
   2. Layout
   ========================= */


/* Banner / Header */
.banner {
    font-family: 'Times New Roman', Times, serif;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;        /* same y-axis */
    justify-content: space-between; /* left & far right */
    padding: 20px 40px;
    background-color: #5c0a4e;
}

.banner-title {
    justify-self: center;
    font-size: xx-large;
    color: #fcf9f9;
}

.banner-link {
    justify-self: right;
    padding: 10px 16px;
    border-radius: 6px;
    background-color: #9c9a9a;
    color: white;
}

.banner-link:hover {
    background-color: #555;
}





/* =========================
   3. Typography
   ========================= */


h1, h2, h3 {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}


/* Page section headings */
.subheading {
    margin-top: 30px;
    margin-bottom: 10px;
    padding-left: 50px;
    font-size: 1.8rem;
}


/* Paragraph text */
.text {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 1.2rem;
    line-height: 1.6;
}





/* =========================
   4. Components
   ========================= */


/* Button / link list container */
.buttons {
    padding-left: 50px;
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
}

.buttons a {
    display: inline-block;
    margin: 6px 0;
    text-decoration: none;
    color: #5c0a4e;
}

.buttons a:hover {
    text-decoration: underline;
}





/* =========================
   5. Page Sections
   ========================= */

   
.users {
    font-family: 'Times New Roman', Times, serif;
}