body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
}

/* Banner layout */
.banner {
    align-items: center;      /* vertically center text */
    gap: 10px;
    padding: 10px;
    background-color: rgb(49, 5, 49);
    color: white;
}

.banner-text {
    text-align: center;        /* text centered */
}

.banner-text h1 {
    font-size: 750;
    margin: 0;
}

.banner-links {
    margin-top: 10px;
}

.banner-links a {
    color: #e5e7eb;
    text-decoration: none;
    font-weight: 500;
    align-self: right;
}

.banner-links a:hover {
    text-decoration: underline;
}


/* Users */

.users {
    font-family: 'Times New Roman', Times, serif;
}

.users h2 {
    padding-left: 50px;
    padding-bottom: 0;
    font-size: xx-large;
}

.users p {
    padding-top: 0;
    padding-left: 50px;
    padding-right: 50px;
    align-items: left;
    color: #000000;
    font-size: xx-large;
}

.users p1 {
    font-size: x-large;
}


/* Buttons */

.buttons {
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    padding-left: 50px;
    font-size: x-large;
}



/* Subheading */

.subheading {
    font-family: 'Times New Roman', Times, serif;
}

.subheading h1 {
    align-self: center;
    font-size: xx-large;
    color: #000000;
}

.subheading h2 {
    text-align: left;
    padding-left: 50px;
    font-size: x-large;
}

.subheading b1 {
    text-align: left;
    padding-left: 50px;
    font-size: larger;
}