body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
}

/* Banner layout */
.banner {
    font-family: 'Times New Roman', Times, serif;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;        /* same y-axis */
    justify-content: space-between; /* left & far right */
    padding: 20px 40px;
    background-color: #5c0a4e;
}

.banner-title {
    justify-self: center;
    font-size: xx-large;
    color: #fcf9f9;
}

.banner-link {
    justify-self: right;
    padding: 10px 16px;
    border-radius: 6px;
    background-color: #9c9a9a;
    color: white;
}

.banner-link:hover {
    background-color: #555;
}


/* Users */

.users {
    font-family: 'Times New Roman', Times, serif;
}

.users h2 {
    padding-left: 50px;
    padding-bottom: 0;
    font-size: xx-large;
}

.users p {
    padding-top: 0;
    padding-left: 50px;
    padding-right: 50px;
    align-items: left;
    color: #000000;
    font-size: xx-large;
}

.users p1 {
    font-size: x-large;
}


/* Buttons */

.buttons {
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    padding-left: 50px;
    font-size: x-large;
}



/* Subheading */

.subheading {
    font-family: 'Times New Roman', Times, serif;
}

.subheading h1 {
    align-self: center;
    font-size: xx-large;
    color: #000000;
}

.subheading h2 {
    text-align: left;
    padding-left: 50px;
    font-size: x-large;
}

.subheading b1 {
    text-align: left;
    padding-left: 50px;
    font-size: larger;
}