<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Digital Portfolio</title>

    <!-- Link CSS using url_for -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>


    
    <!-- Banner / Header -->
<header class="banner">
    <div class="banner-text">
        <h1>My Digital Portfolio</h1>

        <p class="banner-links">
    <a href="{{ url_for('newuser') }}">New User</a>
</p>

    </div>
</header>




    <!-- Main page content -->
<main>
    <section class="users">
        <h2>Welcome to My Digital Portfolio!</h2>
        <p>This website was created as a way to further our understanding and proficiency in coding while also providing a platform 
           to showcase our education, experiences, and projects - both professional and personal.        
        </p>

        <main class="user-select">
    <h2>Select whose profile you'd like to view</h2>

    <div class="buttons">
        {% for username, user in users.items() %}
            • <a href="{{ url_for('overview', username=username) }}" class="btn">
                {{ user.name }}
            </a>
        {% endfor %}
    </div>
</main>

    </section>
</main>

</body>
</html>
