<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Digital Portfolio</title>

    <!-- Link CSS using url_for -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>



<body>


    
    <!-- Banner / Header -->
<header class="banner">
    <h1 class="banner-title">My Digital Portfolio</h1>
    <a class="banner-button" href="{{ url_for('user_bp.manage_user_accounts') }}">Manage User Accounts</a>
</header>



    <!-- Main page content -->
<main>

    <section>
        <h2 class="subheading">Welcome to My Digital Portfolio!</h2>
            <p class="text">
                This website was created as a way to further our understanding and proficiency in coding, while also providing a platform 
                to showcase our resumes. This includes contact information, education, experiences, and any projects completed or currently in-progress - both professionally and personally.
            </p>
    </section>


    <section>
        <h2 class="subheading">Select the user you'd like to view:</h2>

            <div class="buttons">
            {% for user in users %}
                {% set username = user.first_name ~ "_" ~ user.last_name %}

                <!-- Show User's Profile Picture if applicable -->
                {% if user.profile_image %}
                    <img src="{{ url_for('user_bp.uploaded_file', filename=user.profile_image) }}" 
                         alt="{{ user.first_name }}'s Profile" 
                         class="profile-thumb" width="50" height="50">
                {% endif %}
                
                <!-- Show User's Name -->
                • <a href="{{ url_for('main_bp.overview', user_id=user.user_id, username=username) }}" class="btn">
                    {{ user.first_name }} {{ user.last_name }}
                </a><br>
            {% endfor %}
            </div>
    </section>


</main>
</body>
</html>
